@import "../../styles/colors.scss";


.primaryButton {
    color: black;
    background-color: $bright-green;
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: -1px 1px 7px 0px  rgba(40,255,128,0.35),1px 1px 7px 0px rgba(40,255,128,0.35),1px -1px 7px 0px rgba(40,255,128,0.35);
}

.primaryButton:hover, .primaryButton:focus {
    box-shadow: -1px 1px 15px 0px rgba(40,255,128,0.35),1px 1px 15px 0px rgba(40,255,128,0.35),1px -1px 15px 0px rgba(40,255,128,0.35);
}

