@import "../../styles/colors.scss";

.tag {
    padding: 5px;
    font-size: 14px;
    background-color: #6ef3ab;
    color:black;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}