@import "../../../../styles/colors.scss";


.container {
    border: 1px solid $grey-darker;
    padding:10px;
    border-radius: 5px;
    max-width: 370px;
    margin: 10px;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 100%;
}


.description {
    color:$grey
}
