@import "../styles/colors.scss";
@import "./font.module.scss";

$xs: 0px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

.rounded {
    border-radius: 3px;
}

.fullWidth {
    width:100%;
}



.fullHeight {
    height: 100vh;
}

.flex {
    display: flex;
}

.flexJustifyCenter {
    @extend .flex;
    justify-content: center;
}

.flexSpaceBetween {
    @extend .flex;
    justify-content: space-between;
}

.flexAlignCenter {
    @extend .flex;
    align-items: center;
}

.flexBothCenter {
    @extend .flexJustifyCenter;
    @extend .flexAlignCenter;
}

.flexColumn {
    @extend .flex;
    flex-direction: column;
}

.skipLink {
    position: absolute;
    top:-100px;
    color: white;
    left: -100px;
    z-index: 100;
}

.skipLink:focus {
    top:0;
    left: 0;
}

@mixin hide {
    visibility: hidden;
    position: absolute;
    top: -100000;
}

.secondaryText {
    color: darken($color: $grey, $amount: 5);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.underlinedHeading {
    border-bottom: 5px solid $green;
    padding-right: 30px;
    display: inline-block;
}

.showMoreText {
    @extend .mono;
    border: none;
    border-bottom: 1px solid $green;
    background-color: transparent;
    color:white;
    padding-left: 0px;
    font-size: 16px;
}

.showMoreText:hover, .showMoreText:focus {
    background-color: $green;
    color:black;
}

.url {
    fill: #97979F;
}

.link {}


.link:focus,
.link:hover {
    .url {
        fill: white;
    }
}



.textButton {
    border: none;
    @extend .underlinedLink;
    display: inline;
    color:$grey;
    background-color: transparent;
    padding-right: 10px;
    padding-left: 2px;
    display: inline-block;
    font-size: 16px;
}


.container {
    width: 100%;
    margin:auto;
    padding: 20px;
    box-sizing: border-box;
}

.underlinedLink {
    display: inline-block;
    cursor: pointer;
    color: $grey;
    border-bottom: 1px solid $green;
}

.underlinedLink:hover {
    background-color: $green;
    color:black;
}

// For extra small screen  
@media only screen and (min-width: $xs) {
    .container {
        margin:0;
    }
}


// For Small Screens 
@media only screen and (min-width: $sm) {
    .container {
        padding: 20px;
    }
}


// For medium size Screens 
@media only screen and (min-width: $md) {
    .container {
        margin:auto;
        max-width: 1280px;

    }
}



// For  large Screens 
@media only screen and (min-width: $lg) {

}

