$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.mono {
    font-family: 'Roboto Mono' ,monospace, $system-font-stack;
}

.roboto {
    font-family: 'Roboto' ,sans-serif, $system-font-stack;
}
