@import "./colors.scss";
@import "./font.module.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $black;  
  color: white;
  @extend .mono;
   //cursor: url(../images/filled_circle.svg), auto;
}

::-webkit-scrollbar{
  display: none;
}


