@import "../../styles/font.module.scss";
@import "../../styles/colors.scss";
@import "../../styles/common.module.scss";

.hideElement {
    @include hide;
}


.appbar {
    font-size: 18px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $black;
    z-index: 20;
    @extend .flexBothCenter;
}

.main {
    @extend .mono;
    padding: 20px;
    width: 100%;
    @extend .flexSpaceBetween;
}

.itemContainer {
    @extend .flexSpaceBetween;
}

.item  {
    padding: 0 10px 0 10px;
    @extend .mono;
    color: $grey-darker;
    text-decoration: none;
    margin-left: 30px;
}

.itemExpand {
    @extend .container;
    @extend .flexBothCenter;
    background-color: $black;
}


.itemExpandContainer {
    position: fixed;
    top:50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    @extend .flexBothCenter;
    flex-direction: column;   
    animation:expand;
    animation-duration:0.5s;
    z-index: 10;
}


@keyframes expand {
    0% {
        height: 10vh;
        opacity: 0;
    }
    100%{
        height: 80vh;
        opacity: 1;
    }
}

.menuIcon{
    transition-duration: 0.5s;
    transition-property: transform;
}
.menuIcon:active {
    transform: rotate(360deg);
}

.itemActive{
    @extend .item;
    color: $green;
    &::after {
        content: " >";
    }
    &::before {
        content: "< ";
    }
}

.itemActive:hover , .item:hover {
    color:black;
    background-color: $bright-green;
}


@media only screen  and (max-width:500px){

    .itemContainer {
        @include hide;
    }

}
@media only screen  and (min-width:500px){

    .itemExpandContainer, .menuIcon {
        @include hide;
    }
}

@media only screen  and (min-width:$md){
    nav {
        padding: 0;
    }
}