@import "../../styles/colors.scss";



.mainContainer {
    background-color: $black-darker;
    padding: 40px 10px 40px 10px;
}


.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


