@import "../../styles/colors.scss";
@import "../../styles/common.module.scss";




.mainContainer {
    background-color: $black-darker;
    padding: 50px 10px 10px 10px;
}


.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.showMoreText {
    @extend .underlinedLink;
    margin:10px;
}

