@import "../../styles/colors.scss";

.container {
    border: 1px solid $grey-darker;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}


.description {
    color:$grey;
    margin:0 0 20px 0;
}
