@import "../../styles/colors.scss";


.certificationContainer {
    margin:10px;
    padding: 10px;
    border: 1px solid $grey-darker;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}